* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

body {
    background-color: #794613;
}



.box {
    display: flex;
    justify-content: center;
    align-content: center;
}

.table{
    display: flex;
    background-color: darkgreen;
    width: 98%;
    height: 680px;
    border-radius: 5%;
    margin-top: 20px;
    position: absolute;
    z-index: -1;
}

.pattern {
    display: flex;
    width: 92%;
    height: 620px;
    border-radius: 2.5%;
    margin-top: 50px;
    border: 5px solid yellow;
}